<div class="w-full grid grid-cols-3 gap-4 justify-center items-center">
  <div class="h-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8">
    <div class="flex items-center justify-between mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-900">Atividades</h5>
    </div>

    <div class="flow-root">
      <ul *ngIf="activities.length > 0; else noData" role="list" class="divide-y divide-gray-200">
        <li *ngFor="let activitie of activities" class="py-3 sm:py-4">
          <div class="flex items-center">
            <div class="flex-1 min-w-0 ms-4">
              <p class="text-sm font-medium text-gray-900 truncate">{{ activitie.atividade }}</p>
              <div class="w-full bg-gray-200 rounded-full h-2.5">
                <div class="bg-blue-600 h-2.5 rounded-full" style="width: 100%"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ng-template #noData>
        <p class="text-gray-500 text-center py-4">Não há dados disponíveis.</p>
      </ng-template>

    </div>
  </div>

  <div class="h-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8">
    <div class="flex items-center justify-between mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-900">Subprojeto</h5>
    </div>

    <div class="flow-root">
      <ul *ngIf="subprojects.length > 0; else noData" role="list" class="divide-y divide-gray-200">
        <li *ngFor="let subproject of subprojects" class="py-3 sm:py-4">
          <div class="flex items-center">
            <div class="flex-1 min-w-0 ms-4">
              <p class="text-sm font-medium text-gray-900 truncate">{{ subproject.subproject.name }}</p>
              <div class="w-full bg-gray-200 rounded-full h-2.5">
                <div class="bg-blue-600 h-2.5 rounded-full" style="width: 100%"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ng-template #noData>
        <p class="text-gray-500 text-center py-4">Não há dados disponíveis.</p>
      </ng-template>
    </div>
  </div>

  <div class="h-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8">
    <div class="flex items-center justify-between mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-900">Horas mensais</h5>
    </div>
    <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200">
        <li class="py-3 sm:py-4" *ngFor="let item of monthlySummary">
          <div class="flex items-center">
            <div class="flex-1 min-w-0 ms-4">
                <p class="text-sm font-medium text-gray-900 truncate">{{ item.mes }}</p>
                <div class="w-full bg-gray-200 rounded-full h-2.5">
                  <div class="bg-blue-600 h-2.5 rounded-full"
                       [style.width.%]="getPercentage(item.horas_trabalhadas)">
                  </div>
                </div>
            </div>
            <!-- <div class="inline-flex items-center text-base font-semibold text-gray-900">
                {{ item.horas_trabalhadas | number: '1.2-2' }}
            </div> -->
          </div>
        </li>
      </ul>
    </div>
</div>

  <!-- <div class="h-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8">
    <div class="flex items-center justify-between mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-900">Horas mensais</h5>

    </div>
    <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200">
        <li class="py-3 sm:py-4">
          <div class="flex items-center">
            <div class="flex-1 min-w-0 ms-4">
                <p class="text-sm font-medium text-gray-900 truncate">Maio/2025</p>
                <div class="w-full bg-gray-200 rounded-full h-2.5">
                  <div class="bg-blue-600 h-2.5 rounded-full" style="width: 100%"></div>
                </div>
            </div>
          </div>
        </li>
        <li class="py-3 sm:py-4">
          <div class="flex items-center">
            <div class="flex-1 min-w-0 ms-4">
                <p class="text-sm font-medium text-gray-900 truncate">Junho/2025</p>
                <div class="w-full bg-gray-200 rounded-full h-2.5">
                  <div class="bg-blue-600 h-2.5 rounded-full" style="width: 85%"></div>
                </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div> -->
</div>
