<div class="grid grid-cols-6 gap-4">
  <div class="text-center col-start-2 col-end-6"><span class="self-center text-2xl font-semibold whitespace-nowrap">Relatorio</span></div>
</div>

<div class="w-4/5 mx-auto justify-end py-2.5 rounded-xl shadow-xl sm:p-8">
  <div class="flex">
    <div class="w-1/2">
      <form [formGroup]="relatorioForm" class="">
        <div class="flex gap-2 items-center">
          <div class="w-1/5">
            <label for="tarefa-input" class="block mb-2 text-sm font-medium text-gray-900">Categoria</label>
            <select formControlName="category" required class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option selected>Todas</option>
              <option value="Atividade">Atividade</option>
              <option value="Subprojeto">Subprojeto</option>
            </select>
          </div>
          <div class="w-1/2" *ngIf="this.tipoUsuario !== 'Student'">
            <label class="block mb-2 text-sm font-medium text-gray-900">Aluno</label>
            <select formControlName="students" required class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option *ngIf="students.length > 0" value="Todos" selected>Todos</option>
              <option *ngFor="let student of students" [value]="student.id_usuario">{{student.name}}</option>
            </select>
          </div>
          <div class="w-1/5">
            <label class="block mb-2 text-sm font-medium text-gray-900">Mês</label>
            <select formControlName="month" required class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option selected>Todos</option>
              <option *ngFor="let m of months" [value]="m.value">{{ m.label }}</option>
            </select>
          </div>
          <div class="w-1/5">
            <label class="block mb-2 text-sm font-medium text-gray-900">Ano</label>
            <select formControlName="year" required class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option *ngFor="let year of years" [value]="year.value">{{ year.label }}</option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <div class="w-1/2 mb-5 justify-end text-end">
      <button type="button" (click)="ExportExcel()" class="mt-6 text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Exportar para Excel</button>
      <button type="button" (click)="ExportWord()" class="mt-6 text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Exportar para Word</button>
    </div>
  </div>
    <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [dataLabels]="chartOptions.dataLabels!"
        [plotOptions]="chartOptions.plotOptions!"
        [legend]="chartOptions.legend!"
        [colors]="chartOptions.colors!"
        [xaxis]="chartOptions.xaxis!"
    ></apx-chart>
</div>

